*, *::after, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
}

body {
    --dark-green-color: #344E41;
    --green-color: #436850;
    --light-green-color: #ECF1E6;

    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--light-green-color);
}

.left-side {
    background-image: url(./assets/background-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.logo-wrapper {
    position: relative;
    height: 15vh;
    width: 100%;
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: rgba(236, 241, 230, 0.6);
}

.logo-image {
    height: 10vh;
}

.logo-text {
    color: var(--green-color);
    font-size: 3rem;
    font-weight: bold;
}

.right-side {
    display: flex;
    width: 60vw;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 10vh 5vh 5vh;
    margin-top: 5vh;
}

.dummy-text-top {
    color: var(--green-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.login-text {
    font-size: 1.25rem;
    color: var(--green-color);
}

.login {
    cursor: pointer;
    color: var(--dark-green-color);
    font-weight: bolder;
}

.login:hover {
    text-decoration: underline;
}

.form-title {
    color: var(--green-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    margin-bottom: 4vh;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.input label {
    color: var(--green-color);
    font-size: 1rem;
    font-weight: normal;
}

.input input {
    padding: 1.5vh 12vh 1.5vh 1.5vh;
    border: 1px solid var(--green-color);
    border-radius: 5px;
}

input.error { /* this class will be added from main.js during validation */
    border-color: red;
}

.create-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--dark-green-color);
    font-weight: bold;
    font-size: 1.25rem;
    border: 2px solid var(--dark-green-color);
    border-radius: 5px;
    padding: 1.5vh 9vh;
}

.create-button:hover {
    background-color: var(--dark-green-color);
    color: var(--light-green-color);
    transition: 0.3s;
}

.create-button:focus {
    background: var(--green-color);
    -webkit-box-shadow: inset 0px 0px 5px var(--dark-green-color);
    -moz-box-shadow: inset 0px 0px 5px var(--dark-green-color);
    box-shadow: inset 0px 0px 5px var(--dark-green-color);
    outline: none;
}