*, *::after, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
}

body {
    --dark-green-color: #344E41;
    --green-color: #436850;
    --light-green-color: #ECF1E6;

    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--light-green-color);
}

.left-side {
    background-image: url(./assets/background-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.logo-wrapper {
    position: relative;
    height: 15vh;
    width: 100%;
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    background-color: rgba(236, 241, 230, 0.7);
}

.logo-image {
    height: 10vh;
}

.logo-text {
    color: var(--green-color);
    font-size: 3rem;
    font-weight: bold;
}

.right-side {
    display: flex;
    width: 60vw;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh;
    margin-top: 10vh;
}

.dummy-text-top {
    color: var(--green-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.login-text {
    font-size: 1.25rem;
    color: var(--green-color);
}

.login {
    color: var(--dark-green-color);
    font-weight: bolder;
}

.login:hover {
    text-decoration: underline;
}